*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body{
  overflow-x: hidden;
  background: black;
}

.calc{
  max-width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  text-transform: capitalize;
  color: orange;
}

.display{
  margin: 20px auto;
  width: 90%;
  padding: 10px;
  border-bottom: solid orange 1px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: right;
}

.text{
  color: white;
  font-size: 3rem;
  border-right: orange solid 3px;
  animation: blink .5s step-end infinite,
  typing .5s steps(30, end);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container{
  margin: auto;
  padding: 10px;
  border-radius: 5%;
  background: rgba(255,255,255,0.05);
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.b{
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  height: 80px;
  width: 80px;
  border: solid 3px rgba(128, 128, 128, 0.158);
  border-radius: 50%;
  transition: 1s;
}

.b:hover{
  background: rgba(255,255,255,0.8);
  border-color: orange;
}


@keyframes blink{
  0%, 100%{border-color: transparent;}
  50%{border-color: orange;}
}

@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}